<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
  <table class="body">
    <tr>
        <center>
            <spacer size="15"></spacer>
            <container class="no-bg">
                <row>
                    <columns large="6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eum facere natus.</p>
                    </columns>
                    <columns large="6">
                        <p class="text-right"><a href="#!" class="tiny-text basic-link"> View this email in your
                            browser</a></p>
                    </columns>
                </row>
            </container>
            <table>
                <tbody>
                <tr>
                    <td>
                        <center>
                            <img class="main-image" src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/68bac409-eb07-449d-aa4e-02f4d20ea883.jpg"
                                 alt="photo">
                        </center>
                    </td>
                </tr>
                </tbody>
            </table>
            <spacer size="15"></spacer>
            <container>
                <row>
                    <columns>
                        <spacer size="40"></spacer>
                        <p class="sub-heading">Meet the</p>
                        <spacer size="30"></spacer>
                        <h1> Lorem ipsum.</h1>
                        <p class="main-body-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem,
                            excepturi explicabo inventore nemo officiis placeat quaerat veritatis? Aliquid amet culpa
                            cumque dolorem, doloremque qui quidem sequi unde voluptas voluptate voluptatem! </p>

                        <center>
                            <spacer size="30"></spacer>
                            <button  class="shop-btn" href="#">Shop now</button>
                        </center>
                    </columns>
                </row>
            </container>
            <spacer size="15"></spacer>
            <container>
                <row>
                    <columns class="no-pb">
                        <spacer size="40"></spacer>
                        <h2 class="text-center text-uppercase"> Lorem ipsum dolor sit.</h2>
                    </columns>
                </row>
                <row>
                    <columns small="4" large="5"></columns>
                    <columns small="4" large="2">
                        <div class="decorative-line"></div>
                    </columns>
                    <columns small="4" large="5"></columns>
                </row>
                <row>
                    <columns large="4">
                        <center>
                            <img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/6a9e9bff-ccfe-486c-86c4-923cf2a2f32b.jpg"
                                 alt="item">
                            <h3 class="item-name small-text-center">Item name</h3>
                            <p class="item-price small-text-center">16.99</p>
                        </center>
                    </columns>
                    <columns large="4">
                        <center>
                            <img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/d045ef8e-c5c3-4c91-a736-931fdec2c184.jpg"
                                 alt="item">
                            <h3 class="item-name small-text-center">Item name</h3>
                            <p class="item-price small-text-center">16.99</p>
                        </center>
                    </columns>
                    <columns large="4">
                        <center>
                            <img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/bbcf016c-f597-4d1a-976b-1577e79767b4.jpg"
                                 alt="item">
                            <h3 class="item-name small-text-center">Item name</h3>
                            <p class="item-price small-text-center">16.99</p>
                        </center>
                    </columns>
                </row>
            </container>
        </center>
        <spacer size="15"></spacer>
        <container class="no-bg">
            <row>
                <columns>
                    <p class="text-right small-text-center">
                        <a href="#" class="basic-link tiny-text"> Lorem ipsum</a>|
                        <a href="#" class="basic-link tiny-text"> Lorem ipsum</a>
                    </p>
                </columns>
            </row>
        </container>
        <spacer size="20"></spacer>
    </tr>
</table>
</body>
</html>